@tailwind base;
@tailwind components;
@tailwind utilities;

.line:after {
  content: '';
  display: block;
  position: relative;
  width: 25%;
  height: 2px;
  background-color: #e2e8f0;
}

.line:before {
  content: '';
  display: block;
  position: relative;
  width: 22%;
  height: 2px;
  background-color: #e2e8f0;
}


@media (min-width: 640px) {

  .line:after,
  .line:before {
    width: 22%
  }
}

@media (min-width: 768px) {

  .line:after,
  .line:before {
    width: 26%
  }
}

@media (min-width: 1024px) {

  .line:after,
  .line:before {
    width: 33%
  }
}